body {
    background-color: black;
    color: white;
}

#nav-logo{
    text-align: center;
}

#nav-logo a {
    display: inline-block;
}

#nav-logo img {
    max-width: 50%;
    display: block; 
    margin: 0 auto;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    background-color: white;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: #FAED59;
}

nav a:nth-of-type(2):hover {
    background-color: #FF69B4;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    background-color: white;
    margin-top: 15px;
}

footer a {
    text-align: center;
    color: black;
    text-decoration: none;
}

footer a:hover {
    background-color: #FAED59;
}

footer a:nth-of-type(2):hover {
    background-color: #FF69B4;
}


/*
About page
*/

#about-hero {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
}
#about-hero .video-wrapper {
    grid-column: 2/6;
    position: relative;
    /* Padding-top sets the aspect ratio (56.25% for 16:9 video) */
    padding-top: 56.25%; 
    width: 100%;
}

#about-hero iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 20px;
   margin-bottom: 20px;
}

#about-hero {
    grid-template-rows: auto; 
    padding-bottom: 10px;
}



h1 {
    text-decoration-line: underline; 
    text-decoration-color: #FAED59; 
}

p {
    border:  1px dashed #FAED59;
    padding: 10px;
    text-align: center;
}

#paragraphs1 {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4, 0.5fr);
}

h1:nth-of-type(1) {
    grid-column: 3/5;
    justify-self: center;
}

p:nth-of-type(1) {
    grid-column: 3/5;
    grid-row: 2/3;
    justify-self: center;
}


h1:nth-of-type(2) {
    grid-column: 3/5;
    grid-row: 3/4;
    justify-self: center;
}

p:nth-of-type(2) {
    grid-column: 3/5;
    grid-row: 4/5;
    justify-self: center;
}

#reel-container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
}


.about-page-reels {
    grid-column: 2/6;
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    gap: 20px; 
}

#paragraphs2 {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3, 0.5fr);
}

/*
    Local Scene
*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #FAED59;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #FAED59;
  font-size: 12px;
  padding: 10px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #FAED59;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#local-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: 1fr 2fr 1fr 2fr;

}

#local-paragraphs1 {
    grid-column: 2/4;
    grid-row: 1/2;
}

#local-video1 {
    grid-column: 2/4;
    grid-row: 2/3;
}

#local-video1 iframe {
    height: 100%;
    width: 100%;
}

#local-paragraphs2 {
    grid-column: 2/4;
}

#local-video2 {
    grid-column: 2/4;
}

#local-video2 iframe {
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}

/*
rooftop wanderers page
*/

.rw-paragraph {
    border:  1px dashed #FF69B4;
    padding: 10px;
    text-align: center;
}

.rw-h1 {
    text-decoration-line: underline; 
    text-decoration-color: #FF69B4; 
}

#rw-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
   

}

#rw-paragraph1 {
    grid-column: 2/4;
}

#rw-image1,#rw-image2 {
    grid-column: 2/4;

}

#rw-image1 img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#rw-image2 img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}


#rw-paragraph2 {
    grid-column: 2/4;
}

#rw-paragraph3 {
    grid-column: 2/4;
}