body {
    background-color: black;
    color: white;
}

#nav-logo{
    text-align: center;
}

#nav-logo a {
    display: inline-block;
}

#nav-logo img {
    max-width: 50%;
    display: block; 
    margin: 0 auto;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    background-color: white;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: #FAED59;
}

nav a:nth-of-type(2):hover {
    background-color: #FF69B4;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    background-color: white;
}

footer a {
    text-align: center;
    color: black;
    text-decoration: none;
}

footer a:hover {
    background-color: #FAED59;
}

footer a:nth-of-type(2):hover {
    background-color: #FF69B4;
}


/*
About page
*/

#about-hero {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
}
#about-hero .video-wrapper {
    grid-column: 2/6;
    position: relative;
    /* Padding-top sets the aspect ratio (56.25% for 16:9 video) */
    padding-top: 56.25%; 
    width: 100%;
}

#about-hero iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 20px;
   margin-bottom: 20px;
}

#about-hero {
    grid-template-rows: auto; 
}



h1 {
    text-decoration-line: underline; 
    text-decoration-color: #FAED59; 
}

p {
    border:  1px dashed #FAED59;
}

#paragraphs1 {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4, 0.5fr);
}

h1:nth-of-type(1) {
    grid-column: 3/5;
    justify-self: center;
}

p:nth-of-type(1) {
    grid-column: 3/5;
    grid-row: 2/3;
    justify-self: center;
}


h1:nth-of-type(2) {
    grid-column: 3/5;
    grid-row: 3/4;
    justify-self: center;
}

p:nth-of-type(2) {
    grid-column: 3/5;
    grid-row: 4/5;
    justify-self: center;
}

#reel-container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
}


.about-page-reels {
    grid-column: 2/6;
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    gap: 20px; 
}

#paragraphs2 {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3, 0.5fr);
}